[jg-error-column]{
	color : red;
	font-size: 12px;
	padding-left: 15px;
	display: block;
}

.jg-logbox{
	opacity: 0.5;
	filter:alpha(opacity=50);
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 300px;
	height: 200px;
	border: solid 1px;
	background-color: white;
}
.jg-logbox .log-content{
	display: block;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	right: 0px;
	bottom: 0px;
	width: 96%;
	height: 96%;
	margin: 2%;
	-webkit-overflow-scrolling: touch;
}
.jg-logbox .clear{
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	/*opacity: 0.5;
	filter:alpha(opacity=50);*/
}